In [104]:
!pip3 install plotly-express
!pip3 install plotly==5.22.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly-express in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (0.4.1)
Requirement already satisfied: numpy>=1.11 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (1.26.1)
Requirement already satisfied: plotly>=4.1.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (5.22.0)
Requirement already satisfied: scipy>=0.18 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (1.13.0)
Requirement already satisfied: pandas>=0.20.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (2.1.1)
Requirement already satisfied: patsy>=0.5 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (0.5.6)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly-express) (0.14.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from pandas>=0.20.0->plotly-express) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from pandas>=0.20.0->plotly-express) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from pandas>=0.20.0->plotly-express) (2.8.2)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5->plotly-express) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly>=4.1.0->plotly-express) (8.3.0)
Requirement already satisfied: packaging in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly>=4.1.0->plotly-express) (23.2)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly==5.22.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (5.22.0)
Requirement already satisfied: packaging in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly==5.22.0) (23.2)
Requirement already satisfied: tenacity>=6.2.0 in /Users/lemathea/Library/Python/3.9/lib/python/site-packages (from plotly==5.22.0) (8.3.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [39]:
import duckdb
%load_ext sql

Deploy Shiny apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [40]:
con = duckdb.connect('main.db')
%sql con --alias duckdb

In [41]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [37]:
con.execute('INSTALL spatial;')
con.execute('LOAD spatial;')

In [35]:
weather = con.execute("""CREATE TABLE weather AS SELECT * FROM read_csv('s3://noaa-gsod-pds/2024/*.csv', auto_detect=true);""")

In [44]:
%%sql
ALTER TABLE weather ADD COLUMN station_coordinates geometry;

Empty DataFrame
Columns: [Success]
Index: []

In [46]:
%%sql
UPDATE weather SET station_coordinates = ST_Point(latitude,longitude)

     Count
0  1470895

In [47]:
con.execute("""SELECT * FROM weather LIMIT 10""").df()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT,station_coordinates
0,01001099999,2024-01-01,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",26.6,24,20.5,24,...,27.8,32.9,,17.4,,0.01,G,999.9,000000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
1,01001099999,2024-01-02,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",33.3,24,30.9,24,...,20.6,34.5,,31.1,,99.99,,999.9,111000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
2,01001099999,2024-01-03,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",29.7,24,27.2,24,...,30.1,34.3,,25.3,,0.00,G,999.9,000000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
3,01001099999,2024-01-04,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",19.5,24,14.8,24,...,32.1,28.8,,14.7,,0.00,G,999.9,001000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
4,01001099999,2024-01-05,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",20.6,24,16.5,24,...,31.9,26.6,*,16.0,,0.06,G,999.9,001000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
5,01001099999,2024-01-06,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",20.6,24,17.0,24,...,25.4,22.8,,16.0,,0.03,G,999.9,001000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
6,01001099999,2024-01-07,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",27.0,24,21.7,24,...,24.7,34.7,,17.1,,0.01,G,999.9,011000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
7,01001099999,2024-01-08,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",40.1,24,35.4,24,...,38.1,45.5,,32.9,,0.05,G,999.9,010000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
8,01001099999,2024-01-09,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",34.6,24,31.5,24,...,37.1,42.1,,29.7,,0.00,G,999.9,010000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
9,01001099999,2024-01-10,70.933333,-8.666667,9.0,"JAN MAYEN NOR NAVY, NO",26.0,24,23.9,24,...,37.1,41.9,,20.3,,0.01,G,999.9,010000,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."

In [48]:
import requests

In [91]:
df_list = []

url_list = ["https://api.census.gov/data/2020/dec/dhc?get=NAME&for=county:*&in=state:*",
                "https://api.census.gov/data/2020/dec/dhc?get=P1_001N&for=county:*&in=state:*", ###TOTAL POPULATION	
                "https://api.census.gov/data/2020/dec/dhc?get=P10_001N&for=county:*&in=state:*", ###RACE FOR THE POPULATION 18 YEARS AND OVER		
                "https://api.census.gov/data/2020/dec/dhc?get=P10_003N&for=county:*&in=state:*", ###White alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_004N&for=county:*&in=state:*", ###Black or African American alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_005N&for=county:*&in=state:*", ###American Indian and Alaska Native alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_006N&for=county:*&in=state:*", ###Asian alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_007N&for=county:*&in=state:*", ###American Indian and Alaska Native alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_008N&for=county:*&in=state:*", ###American Indian and Alaska Native alone
                "https://api.census.gov/data/2020/dec/dhc?get=P10_009N&for=county:*&in=state:*", ###!!Total:!!Population of two or more races:
                "https://api.census.gov/data/2020/dec/dhc?get=P11_002N&for=county:*&in=state:*", ###!!Hispanic or Latino	
                "https://api.census.gov/data/2020/dec/dhc?get=P11_003N&for=county:*&in=state:*" ###!!Not Hispanic or Latino:
]

def generate_tbl(url: str):
    response = requests.get(url).json()
    response_df = pd.DataFrame(response[1:],columns=response[0])
    return response_df

In [92]:
for url in url_list:
    df_list.append(generate_tbl(url))

In [93]:
df_list

[                                NAME state county
 0          Madera County, California    06    039
 1           Marin County, California    06    041
 2        Mariposa County, California    06    043
 3       Mendocino County, California    06    045
 4          Merced County, California    06    047
 ...                              ...   ...    ...
 3216         Kern County, California    06    029
 3217        Kings County, California    06    031
 3218         Lake County, California    06    033
 3219       Lassen County, California    06    035
 3220  Los Angeles County, California    06    037

 [3221 rows x 3 columns],
        P1_001N state county
 0       156255    06    039
 1       262321    06    041
 2        17131    06    043
 3        91601    06    045
 4       281202    06    047
 ...        ...   ...    ...
 3216    909235    06    029
 3217    152486    06    031
 3218     68163    06    033
 3219     32730    06    035
 3220  10014009    06    037

 [3221 rows x 3 columns],
      P10_001N state county
 0      113229    06    039
 1      209451    06    041
 2       14187    06    043
 3       72751    06    045
 4      200223    06    047
 ...       ...   ...    ...
 3216   651739    06    029
 3217   111935    06    031
 3218    54080    06    033
 3219    27226    06    035
 3220  7959791    06    037

 [3221 rows x 3 columns],
      P10_003N state county
 0       51018    06    039
 1      148677    06    041
 2       11404    06    043
 3       50383    06    045
 4       79138    06    047
 ...       ...   ...    ...
 3216   282354    06    029
 3217    46664    06    031
 3218    39189    06    033
 3219    17217    06    035
 3220  2728279    06    037

 [3221 rows x 3 columns],
      P10_004N state county
 0        3765    06    039
 1        5442    06    041
 2          99    06    043
 3         510    06    045
 4        6898    06    047
 ...       ...   ...    ...
 3216    35846    06    029
 3217     7188    06    031
 3218     1004    06    033
 3219     2199    06    035
 3220   639490    06    037

 [3221 rows x 3 columns],
      P10_005N state county
 0        5053    06    039
 1        2957    06    041
 2         418    06    043
 3        3301    06    045
 4        5349    06    047
 ...       ...   ...    ...
 3216    13230    06    029
 3217     2510    06    031
 3218     1630    06    033
 3219      840    06    035
 3220   128627    06    037

 [3221 rows x 3 columns],
      P10_006N state county
 0        3012    06    039
 1       13938    06    041
 2         252    06    043
 3        1502    06    045
 4       15652    06    047
 ...       ...   ...    ...
 3216    36554    06    029
 3217     4817    06    031
 3218      834    06    033
 3219      422    06    035
 3220  1275190    06    037

 [3221 rows x 3 columns],
      P10_007N state county
 0         142    06    039
 1         430    06    041
 2          10    06    043
 3         104    06    045
 4         559    06    047
 ...       ...   ...    ...
 3216     1070    06    029
 3217      284    06    031
 3218       92    06    033
 3219      204    06    035
 3220    19128    06    037

 [3221 rows x 3 columns],
      P10_008N state county
 0       33379    06    039
 1       18831    06    041
 2         612    06    043
 3        8873    06    045
 4       60130    06    047
 ...       ...   ...    ...
 3216   186526    06    029
 3217    35063    06    031
 3218     5235    06    033
 3219     4578    06    035
 3220  2069685    06    037

 [3221 rows x 3 columns],
      P10_009N state county
 0       16860    06    039
 1       19176    06    041
 2        1392    06    043
 3        8078    06    045
 4       32497    06    047
 ...       ...   ...    ...
 3216    96159    06    029
 3217    15409    06    031
 3218     6096    06    033
 3219     1766    06    035
 3220  1099392    06    037

 [3221 rows x 3 columns],
      P11_002N state county
 0       61040    06    039
 1       34769    06    041
 2        1473    06    043
 3       15881    06    045
 4      114581    06    047
 ...       ...   ...    ...
 3216   329372    06    029
 3217    59175    06    031
 3218    10192    06    033
 3219     6363    06    035
 3220  3562733    06    037

 [3221 rows x 3 columns],
      P11_003N state county
 0       52189    06    039
 1      174682    06    041
 2       12714    06    043
 3       56870    06    045
 4       85642    06    047
 ...       ...   ...    ...
 3216   322367    06    029
 3217    52760    06    031
 3218    43888    06    033
 3219    20863    06    035
 3220  4397058    06    037

 [3221 rows x 3 columns]]

In [105]:
from functools import reduce
df = reduce(lambda x, y: pd.merge(x, y, on = ['state','county']), df_list)

In [107]:
df['fips'] = df['state'] + df['county']

In [109]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [112]:
import plotly.express as px

fig = px.choropleth(df, geojson=counties, locations='fips', color='P1_001N',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="usa",
                           labels={'P1_001N':'TOTAL POPULATION'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()